.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}

.home {
  background-color: $color-grey-light-1;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 100%;
  }

  &__like {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-primary;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__name {
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    transform: translateY(-40%);
  }

  &__props-box {
    align-self: stretch;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__props {
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3.5rem;

    display: flex;
    gap: 1rem;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
  }
}

.cta {
  width: 100%;
  background-color: $color-primary;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  padding: 1.8rem 3rem;
  cursor: pointer;
}