.row {
    display: flex;
    gap: 6rem;

    @include respond(tab-port) {
        display: block;

        &>div {
            width: 100%;
            max-width: 50rem;
            margin: 0 auto 4rem;
            padding: 2rem;
        }
    }
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}